<%= form_with(model: administrator) do |form| %>
  <% if administrator.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(administrator.errors.count, "error") %> prohibited this administrator from being saved:</h2>

      <ul>
        <% administrator.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :mail, style: "display: block" %>
    <%= form.text_field :mail, value: @administrator.mail_original, readonly: form.object.persisted? %>
    <% administrator.mail_original = administrator.mail%>
    <% administrator.set_email_key%>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.number_field :phone %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.text_area :password %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
