<h1>Editing tag</h1>

<%= render "form", tag: @tag %>

<br>

<div>
  <p>
    <% if params[:executive_mail].present?%>
      <%= link_to "Show this tag ", executive_assign_ticket_ticket_tag_list_tag_path(params[:executive_mail],params[:assign_ticket_id],params[:ticket_id],@tag.tag_list, @tag)%>
      <br>
      <%= link_to "Back to tags", executive_assign_ticket_ticket_tag_list_tags_path %>
    <% elsif params[:supervisor_mail].present?%>
      <%= link_to "Show this tag ", supervisor_ticket_tag_list_tag_path(params[:supervisor_mail],params[:ticket_id],@tag.tag_list, @tag)%>
      <br>
      <%= link_to "Back to tags", supervisor_ticket_tag_list_tags_path %>
    <% elsif params[:administrator_mail].present?%>
      <%= link_to "Show this tag ", administrator_ticket_tag_list_tag_path(params[:administrator_mail],params[:ticket_id],@tag.tag_list, @tag)%>
      <br>
      <%= link_to "Back to tags",administrator_ticket_tag_list_tags_path %>  
    <%end%>
  </p>


</div>
