<p style="color: green"><%= notice %></p>
<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Users Ticket Lists ", user_ticket_lists_path(@user) %>|
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>

</div>