<p style="color: green"><%= notice %></p>

<%= render @chat %>

<div>

  <p>
    <% if params[:executive_mail].present?%>
        <%= link_to "Back to chats", executive_assign_ticket_ticket_chats_path %>
        <%= link_to "Check Comments", executive_assign_ticket_ticket_chat_comments_path(params[:executive_mail],params[:assign_ticket_id],@chat.ticket,@chat) %>  
    <% elsif params[:supervisor_mail].present?%>
      <%= link_to "Back to chats", supervisor_ticket_chats_path %>
      <%= link_to "Check Comments", supervisor_ticket_chat_comments_path(params[:supervisor_mail],@chat.ticket,@chat) %>  
    <% elsif params[:administrator_mail].present?%>
      <%= link_to "Back to chats",administrator_ticket_chats_path %>
      <%= link_to "Check Comments", administrator_ticket_chat_comments_path(params[:administrator_mail],@chat.ticket,@chat) %>  
    <%end%>
  </p>



  
</div>
