<h1>Editing performance report</h1>

<%= render "form", performance_report: @performance_report %>

<br>

<div>
<p>
    <% if params[:administrator_mail].present?%>
      <%= link_to "Show this performance report",  administrator_performance_report_path(params[:administrator_mail], @performance_report)%> |
      <%= link_to "Back to performance reports", administrator_performance_reports_path %> 
    <% elsif params[:supervisor_mail].present?%>
      <%= link_to "Show this performance report",  supervisor_performance_report_path(params[:supervisor_mail], @performance_report)%> |
      <%= link_to "Back to performance reports", supervisor_performance_reports_path %>
    <%end%>
</p>
</div>
