<p style="color: green"><%= notice %></p>

<h1>Performance reports</h1>

<div id="performance_reports">
  <% @performance_reports.each do |performance_report| %>
    <%= render performance_report %>
    <p>
    <% if params[:administrator_mail].present?%>
        <%= link_to "Show this performance report",  administrator_performance_report_path(params[:administrator_mail], performance_report)%>
    <% elsif params[:supervisor_mail].present?%>
        <%= link_to "Show this performance report",  supervisor_performance_report_path(params[:supervisor_mail], performance_report)%>
    <%end%>
      
    </p>
  <% end %>
</div>
<p>
    <% if params[:administrator_mail].present?%>
        <%= link_to "Back to the administrator", administrator_path(params[:administrator_mail]) %> |
        <p><%= link_to "New performance report", new_administrator_performance_report_path %></p>
    <% elsif params[:supervisor_mail].present?%>
        <%= link_to "Back to the supervisor", supervisor_path(params[:supervisor_mail]) %> 
        <p><%= link_to "New performance report", new_supervisor_performance_report_path %></p>
    <%end%>
</p>




