<div id="<%= dom_id supervisor %>">
  <p>
    <strong>Mail:</strong>
    <%= supervisor.mail_original %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= supervisor.name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= supervisor.last_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= supervisor.phone %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= supervisor.password %>
  </p>

</div>
