<p style="color: green"><%= notice %></p>

<div class="text-center">
<h1>Supervisors</h1>
</div>

<div id="supervisors">
  <% @supervisors.each do |supervisor| %>
  <div class="card mx-auto w-50 p-3 bg-white text-black text-center">
    <%= render supervisor %>
    <p>
      <%= link_to "Show this supervisor", supervisor %>
    </p>
    </div>
    <br>
  <% end %>
</div>

<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<%= link_to "New supervisor", new_supervisor_path %>
<br>
<%= link_to "Back to Home Page", "/"%>
</div>
