<h1>Editing ticket</h1>

<%= render "form", ticket: @ticket %>

<br>

<div>

  <% if params[:user_mail].present?%>
   <%= link_to "Show this ticket", user_ticket_list_ticket_path(params[:user_mail],@ticket.ticket_list,@ticket) %>
   <br>
   <%= link_to "Back to tickets", user_ticket_list_tickets_path %>
 
  <% elsif params[:executive_mail].present?%>
   <%= link_to "Show this ticket", executive_assign_ticket_ticket_path(params[:executive_mail],@ticket.assign_ticket,@ticket) %>
   <br>
   <%= link_to "Back to tickets", executive_assign_ticket_tickets_path %>
 <% elsif params[:supervisor_mail].present?%>
  <%= link_to "Show this ticket", supervisor_ticket_path(params[:supervisor_mail],@ticket) %>
  <br>
   <%= link_to "Back to tickets", supervisor_tickets_path %>
 
 <% elsif params[:administrator_mail].present?%>
    <%= link_to "Show this ticket", administrator_ticket_path(params[:administrator_mail],@ticket) %>
   <br>
   <%= link_to "Back to tickets", administrator_tickets_path %>
 
 <%end%>

</div>
