<div id="<%= dom_id executive %>">
  <p>
    <strong>Mail:</strong>
    <%= executive.mail_original %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= executive.name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= executive.last_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= executive.phone %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= executive.password %>
  </p>

</div>
