<%= form_with(model: executive) do |form| %>
  <% if executive.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(executive.errors.count, "error") %> prohibited this executive from being saved:</h2>

      <ul>
        <% executive.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :mail, style: "display: block" %>
    <%= form.text_field :mail, value: @executive.mail_original, readonly: form.object.persisted? %>
    <% executive.mail = executive.mail_original%>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.number_field :phone %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.text_area :password %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
