<h1>Editing executive report</h1>

<%= render "form", executive_report: @executive_report %>

<br>

<div>
<p>
    <% if params[:administrator_mail].present?%>
      <%= link_to "Show this executive report",  administrator_performance_report_executive_report_path(params[:administrator_mail],params[:performance_report_id],@executive_report)%> |
      <%= link_to "Back to executive reports", administrator_performance_report_executive_reports_path %> 
    <% elsif params[:supervisor_mail].present?%>
      <%= link_to "Show this executive report",  supervisor_performance_report_executive_report_path(params[:supervisor_mail],params[:performance_report_id],@executive_report)%> |
      <%= link_to "Back to executive reports", supervisor_performance_report_executive_reports_path %>
    <%end%>
</p>
</div>
