<p style="color: green"><%= notice %></p>
<div class="text-center">
<h1>Executive reports</h1>
</div>
<div id="executive_reports">
  <% @executive_reports.each do |executive_report| %>
    <% if executive_report.performance_report.id == params[:performance_report_id].to_d %>
    <div class="card mx-auto w-50 p-3 bg-white text-black text-center">
      <%= render executive_report %>

        <p>
      <% if params[:administrator_mail].present?%>
          <%= link_to "Show this executive report", administrator_performance_report_executive_report_path(params[:administrator_mail],params[:performance_report_id],executive_report) %> 
      <% elsif params[:supervisor_mail].present?%>
          <%= link_to "Show this executive report", supervisor_performance_report_executive_report_path(params[:supervisor_mail],params[:performance_report_id],executive_report) %>
      <%end%>  
        </p>
    </div>
    <br>
    <%end%>
  <% end %>
</div>

<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
  <p>
  <% if params[:administrator_mail].present?%>
      <%= link_to "Back to the performance report", administrator_performance_reports_path(params[:administrator_mail]) %>
      <p><%= link_to "New executive report", new_administrator_performance_report_executive_report_path %></p>
  <% elsif params[:supervisor_mail].present?%>
  
  <%= link_to "Back to the performance report", supervisor_performance_reports_path(params[:supervisor_mail]) %>
      <p><%= link_to "New executive report", new_supervisor_performance_report_executive_report_path %></p>
  <%end%>  
  </p>
</div>

