<p style="color: green"><%= notice %></p>

<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<%= render @executive_report %>

<div>
<p>
  
    <% if params[:administrator_mail].present?%>
      <%= link_to "Edit this executive report",  edit_administrator_performance_report_executive_report_path(params[:administrator_mail],params[:performance_report_id],@executive_report) %> |
      <%= link_to "Back to executive reports", administrator_performance_report_executive_reports_path %>
    <% elsif params[:supervisor_mail].present?%>
      <%= link_to "Edit this executive report",  edit_supervisor_performance_report_executive_report_path(params[:supervisor_mail],params[:performance_report_id],@executive_report) %> |
      <%= link_to "Back to executive reports", supervisor_performance_report_executive_reports_path %>
    <%end%>
      
</p>

  <%= button_to "Destroy this executive report", @executive_report, method: :delete %>
</div>

</div>
