<p style="color: green"><%= notice %></p>

<h1>Ticket lists</h1>


<div id="ticket_lists">
  <% @ticket_lists.each do |ticket_list| %>
  <% if ticket_list.user.mail == params[:user_mail]%>
    <%= render ticket_list %>
    <p>
      <%= link_to "Show this ticket list", user_ticket_list_path(ticket_list.user_mail,ticket_list) %>
    </p>
  <% end %>
  <%end%>
  <%= link_to "Back to user", user_path(params[:user_mail]) %>
</div>

<%= link_to "New ticket list", new_user_ticket_list_path %>
